<div class="site-section" id="features-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
        <div class="col-7 text-center  mb-5">
          <h2 class="section-title">Services</h2>
          <p class="lead">Wide range of services using Artificial Intelligence.</p>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
            </div>
            <div>
              <h3>Machine Learning</h3>
              <p>We also provide research, development, and consulting services for machine learning and artificial intelligence.</p>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
            </div>
            <div>
              <h3>NLP Services</h3>
              <p>chatbot: automates customer helpdesks and work FAQs with artificial intelligence.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
            </div>
            <div>
              <h3>Computer Vision</h3>
              <p>OCR, Automated Invoice Processing
                Intelligent Document Processing
                .</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-settings_backup_restore"></span></span>
            </div>
            <div>
              <h3>Predictive Analytics</h3>
              <p>Recommendation Systems.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
            </div>
            <div>
              <h3>Custom Web Development Services</h3>
              <p>UI .</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>

          
        </div>
        
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-power"></span></span>
            </div>
            <div>
              <h3>Data Creation</h3>
              <p>Create data relavant for the usecase.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>